.card{
    margin-top: 10%;
    align-items: center;
    border-radius: 10px;
}

.btn-color{
    background-color: #FF5959;
    color: white;

}
.size{
    width: 150px;
    height: 80px;
    margin: 10px, 20px, 10px, 0px;
    margin-left: 30px
  }
