<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

  <h1 style="color: #FF5959">I'm looking for a new place to call home</h1>
  <h4>I'm looking for a new place to call home
      Finding a room on Roomies.com is easy and free! Start by creating your listing so we know what you are looking for…</h4>

<!-- <body ng-app="myApp"> -->
    <div ng-controller="registerCtrl">
        <div style="text-align:center"></div>

          <div class="card mx-auto"  style="width: 40rem;   margin-bottom: 20px; " >
    <!--
            <div class="class-header" style="border-style: double;">
              <h1>about the property</h1>
            </div> -->

            <div class="col-lg-12">
              <div class="row-centered-form">

                  <div class="card-body">
                      <h3 style="color: #FF5959">I am looking for a place…</h3>

                    <div class="col-sm-12">
                      <div class="row">
                          <div class="col-sm-4 form-group">
                          <span class="radio toggle">
                              <input type="radio" class="radio_buttons" name="for_me" value="for me">
                              <label class="collection-radio-buttons">For me</label>
                              </span>
                          </div>
                          <div class="col-sm-4 form-group">
                              <span class="radio toggle">
                                  <input type="radio" class="radio_buttons" name="for_me" value="for me">
                                  <label class="collection_radio_buttons">For a couple</label>
                                  </span>
                                </div>
                                <div class="col-sm-4 form-group">
                                  <span class="radio toggle">

                                      <input type="radio" class="radio_buttons" name="for_me" value="for me">
                                      <label class="collection-radio-buttons">For group</label>
                                      </span>
                                    </div>
                      </div>
                    </div>
                      <div class="col-sm-12">
                          <div class="row">

                              <div class="col-sm-4 form-group">
                            <input type="text" class="form-control" placeholder="first name">
                        </div>
                        <div class="col-sm-3 form-group">
                            <input type="text" class="form-control" placeholder="age">
                        </div>
                            <div class="col-sm-4 form-group">
                                <select class="form-control" >
                                    <option class="hidden" selected disabled>Select gender</option>
                                    <option>Female</option>
                                    <option>Male</option>
                                  </select>
                            </div>
                          </div>
                      </div>



                      <div class="col-sm-12">
                          <div class="row">
                              <div class="col-sm-4 form-group">
                                 <span class="radio toggle">
                                  <input type="radio" class="radio_buttons" name="for_me" value="for me">
                                  <label class="collection-radio-buttons" style="font-style: italic; color: #FF5959"><b>I am interested in</b></label>
                                 </span>
                              </div>
                           </div>
                     </div>
                     
                     <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                               <p>Teamups are when you get together with others who are looking for accommodation and start a new share house together.</p>

                            </div>
                         </div>
                     </div>

                     <h3 style="color: #FF5959">Where would you like to live?</h3>

                     <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12 form-group">
                          <h6 style="color:grey">Remember to add at least 4-5 locations so we can match you with more properties. Add each neighborhood separately.</h6>
                        </div>
                      </div>
                    </div>

                            <div class="col-sm-12">
                              <div class="row">
                                <div class="col-sm-12 form-group">
                                    <input type="text" class="form-control" placeholder="where to live">
                                </div>
                              </div>
                            </div>


                    <h3 style="color: #FF5959">General Information</h3>

                   <div class="col-sm-12">
                      <div class="row">
                       <div class="col-sm-6 form-group">
                          <div class="input-group-prepend">
                             <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                             <input class="form-control" type="text" placeholder="max budget">
                             <span class=" col-sm-4 input-group-text"><i>Per month</i></span>
                          </div>
                       </div>
                    </div>
                 </div>

                 <div class="col-sm-12">
                  <div class="row">
                   <div class="col-sm-12 form-group">
                      <input placeholder="move Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                   </div>
                  </div>
                 </div>

                 <div class="col-sm-12">
                   <div class="row">
                    <div class="col-sm-6 form-group">
                      <select class="form-control" >
                          <option class="hidden" selected disabled>Preffered legnth of stay</option>
                          <option>1 week</option>
                          <option>2 week</option>
                          <option>4 week</option>
                          <option>6 week</option>
                          <option>2 month</option>
                          <option>4 month</option>
                          <option>6 month</option>
                          <option>9 month</option>
                          <option>1 year</option>
                          <option>2 year</option>
                          <option>above 3 year</option>

                        </select>
                  </div>
                   </div>
                 </div>

                 <h3 style="color: #FF5959">What makes you great to live with ?</h3>
                 <div class="col-sm-12">
                  <div class="row">
                   <div class="col-sm-12 form-group">
                      <textarea placeholder="Tell Us Something" rows="5" class="form-control"></textarea>
                    </div>
                  </div>
                 </div>

                 <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                           <button style="font-size: 20px; background-color: #FF5959; color: white; align-content: center; padding: 5px 170px; border-radius: 30px" class="button button1"> Create your free listing</button>
                        </div>
                     </div>
                </div>



      <!-- </body> -->
      <router-outlet></router-outlet>
    <!--
    </body> -->
