<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <title>owner-dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div  class="form-group">
    <div style="top:0; background-color: rgba(0,0,0,0);color: seashell; width: 100px" >
          <img class="card-img-top size" src="assets\image\logo.png" alt="Card img cap">
    </div> 
</div>

<body>
    <div  class="form-group">
        <div class="card border-info mb-3" style="width: 18rem; background-color: rgba(0,0,0,0);color: seashell;  " >
            <nav class="navbar navbar-light bg-light" >
               <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <div class="col-md-11">
                      
                        <a><i class="fas fa-tasks"  style="color:white"><select class="drop-box drop-txt" type="text"  style="color:white;margin-left: 10px;" tabindex="-1" aria-disabled="true" >
                            <option class="drop-btn"  style="display:none;" href="#">Manage Client</option>
                            <option class="drop-btn" href="#">delete client</option>
                            <option class="drop-btn" href="#">block client</option>
                            </select></i> <style white-space:pre ></style>
                        </a>           

                        <a style="margin-right: 10px;"><i class="fas fa-tasks"  style="color:white"><select class="drop-box drop-txt" type="text"  style="color:white;" tabindex="-1" aria-disabled="true" >
                            <option class="drop-btn"  style="display:none" href="#">Manage User</option>
                            <option class="drop-btn" href="#">delete user</option>
                            <option class="drop-btn" href="#">block user</option>
                            </select> <style white-space:pre></style></i>
                        </a>  

                        <a class="nav-item nav-link" style="color: white; margin-right:10px" tabindex="-1" aria-disabled="true" routerLink="/home"><style white-space:pre></style><b> Logout  <i class="fas fa-sign-out-alt"></i></b></a>  
                        <h1 style="margin-left: 2%; color:black;">Admin </h1>
                    </div>
                  </div>
              </div>
            </nav>
        </div>
  <!-- <div class="col-md-12"> -->
</div>
</body>



