
   .center-xs {
    text-align: center;
    
  }

  
  /* You can add global styles to this file, and also import other style files */
  /* You can add global styles to this file, and also import other style files */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }



  .navbar {
    overflow: hidden;
    /* background: black; */
    position: absolute;
    width: 100%;
    top: 10px;
  
  }
  
  .navbar h1{
    color: black;
  }
  .navbar a {
     float: right;
     border: black;
    display: block;
    color: black;
    text-align: right;
    padding : 10px 20px;
    text-decoration: none;
    font-size: 19.97px;
    background-color: #FF5959;
    border-radius: 20px;
    
    padding: 10px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
    /* border: round black; */
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    
  }

  .size{
    width: 80px;
    height: 80px;
    margin: 10px, 20px, 10px, 0px;
  }

  .button2 {
    background-color:white;
    border-radius: 30px;
  }
  .button3 {
    background-color: white;
    border-radius: 30px;
  }

  .button {

    border: none;
    color: white;
    background-color: #FF5959;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 23px 80px;
    cursor: pointer;
    justify-content: center;
    margin-top: 100px;


  }

  button:focus,
  select:focus {
    outline: none;
  }

  .size{
    width: 150px;
    height: 80px;
    margin: 10px, 20px, 10px, 0px;
    margin-left: 30px
  }










