


<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   


   <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<div  class="form-group">
  <div style="width: 18rem; background-color: rgba(0,0,0,0);color: seashell;  " >
        <img class="card-img-top size" src="assets\image\logo.png" alt="Card img cap">           
  </div>
</div>

<!-- <body> -->

  <div class="center-xs"><h1 style="color: #FF5959; ">  Welcome to Indian Roomies</h1>
    
  </div>


  <div class="center-xs">
      <a> <button class="button button2"><i class="fa fa-home" ></i> I need a room</button></a>
      <a> <button class="button button3"><i class="fa fa-users"></i> I have a room</button></a>
  </div>
    


  <div class="card border-info mb-3" style="width: 18rem; background-color: rgba(0,0,0,0);color: seashell;  " >
    <nav class="navbar navbar-light bg-light" >
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <div class="col-md-11">
            <a class="nav-item nav-link" style="color: white" tabindex="-1" aria-disabled="true" routerLink="/login"><i class="fas fa-key"></i><style white-space:pre></style><b> Login</b></a>
            <a class="nav-item nav-link" style="color: white;margin-right: 10px;" href="#" tabindex="-1" aria-disabled="true"><i class="far fa-question-circle"></i><style white-space:pre></style><b> Info</b></a>
          </div>
          </div>
        </div>
    </nav>
</div>




<!-- </body> -->

