


<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<div  class="form-group">
    <div style="top:0; background-color: rgba(0,0,0,0);color: seashell;  " >
          <img class="card-img-top size" src="assets\image\logo.png" alt="Card img cap">           
    </div>
</div>



<body class="body-back">

    <!-- style="background-image: url('assets/image/10.png'); " -->
  
  
  <!-- <div class="col-md-12"> -->
    <div class="col-md col-md-8">
        
        <div class="center-xs">
            <a [routerLink]="['/lookingroom']"> <button class="button button2"><i class="fa fa-home" ></i> I need a room</button></a>
            <a [routerLink]="['/login']"> <button class="button button3"><i class="fa fa-users"></i> I have a room</button></a>
        </div>
                  
        
    </div>
     

<!-- </div> -->
  
  
        <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
      

      

    


   

<!-- <div  class="form-group"> -->
    <div class="card border-info mb-3" style="width: 18rem; background-color: rgba(0,0,0,0);color: seashell;  " >
        <nav class="navbar navbar-light bg-light" >
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <div class="col-md-11">
                <a class="nav-item nav-link" style="color: white" tabindex="-1" aria-disabled="true" routerLink="/login"><i class="fas fa-key"></i><style white-space:pre></style><b> Login</b></a>
                <a class="nav-item nav-link" style="color: white;margin-right: 10px;" href="#" tabindex="-1" aria-disabled="true"><i class="far fa-question-circle"></i><style white-space:pre></style><b> Info</b></a>
              </div>
              </div>
            </div>
        </nav>
    </div>
            
    <div class="center-xs"><h1 style="color: #233142; ">  Welcome to Indian Roomies</h1>
    
    </div>
    <div class="center-xs" style="color:#FF5959;">
      <b>
         <br/> Renting out your spare room? <br/>
         <!-- <br/> Thinking of filling your extra space? <br/> -->
         IndianRoomies take off the obstacle between you and your roommates.....<br/> <br/>

          Looking for a new place to call home?  <br/>
          IndianRoomies search the best places for you to live in.....<br/><br/>

          And all of this is 100% free of cost...<br/>

          <!-- Indian Roomies allows you to browse profiles of both members looking for rooms and those offering rooms so you know all the basics right from the start of the conversation.<br/>
          Onsite secure messaging means you can chat with potential roommates securely and only share your email and phone number when you are comfortable. -->
        </b>
    </div>
            <!-- <h5 class="card-title">finding roomies</h5>
            <p class="card-text">50000 peapole following this website</p> -->
            
            
 <!-- <h1 style="color: black">A better way to find roommates.</h1> -->

       

        <!-- <div class="card-header">logo</div> -->

  
<!-- </div> -->

<!-- </body> -->


